body {background-color: bisque;}
body {
      font-family: "Lato", sans-serif;
      margin: 0;
}

/* header stuff here */
header {
    background-color: #eaeaea;
    padding: 1rem 10px;
}
header span {
    color: #024873;
    font-size: 1.%;
    font-weight: 700;
}


/* navigation stuff here */
nav{
    background-color: #f8acd6;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 700;
}

nav li.active a {
    background-color: rgb(172, 154, 252);
    color: antiquewhite;

}

nav a:hover {
    color: #eaeaea;
}

/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #a598f8;
}
main h2 {
    color: #a598f8;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: rgb(41, 37, 37);
}
